.header__lang-link {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: block;
  min-width: 30px;
  margin-right: 18px;
  margin-top: 18px;
  margin-bottom: 6px;
  color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: none;
}

.header__lang-link:last-child {
  margin-right: 0px;
  text-decoration-line: underline;
}
