.place__title {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  max-width: 460px;
  align-self: end;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .place__title {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    margin-left: 24px;

  }
}

@media screen and (max-width: 320px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-right: 16px;
  }
}
