.cover__subtitle {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 360px;
  height: 66px;
  /* высота в прочентах от экрана браузера */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 32px;
  z-index: 2;
  position: relative;

}
