.cover__subtitle {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 360px;
  width: 100%;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 32px;
  margin: 0;
  z-index: 3;
  position: relative;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
  }
}
