.header__logo {
  background-image: url(../../../images/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 52px;
  min-width: 176px;
  border-radius: 0px;
  margin-top: 28px;
}

@media screen and (max-width: 1024px) {
  .header {
    margin-left: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-height: 42px;
    max-width: 142px;
    margin-top: 16px;
  }
}
