.header__logo {
  background-image: url(../../../images/header-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 52px;
  width: 172px;
  border-radius: 0px;
  margin-top: 28px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    height: 42px;
    width: 142px;
    margin-top: 16px;
  }
}
