.footer__links {
  display: flex;
  flex-direction: row;
  max-width: 1184px;
  margin-left: 48px;
  margin-top: 92px;
  }

  @media screen and (max-width: 320px) {
    .footer__links {
      flex-direction: column;
      margin-left: 0;
    }
  }

