.footer__copyright {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  margin-right: 50px;
  min-width: 186px;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #FFFFFF;
  align-items: flex-end;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin-right: 48px;
    margin-top: 0px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    margin-right: 24px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
    margin-top: 48px;
  }
}
