.lead__image {
  display: flex;
  margin: auto;
  max-width: 984px;
  max-height: auto;
  margin-top: 64px;
  object-fit: cover;
  }

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: 928px;
    margin-top: 56px;
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100%;
    max-width: 768px;
    max-height: 480px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 40px;
  }
}

