.intro__text {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  max-width: 690px;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin-left: 148px;
  margin-top: 40px;
  margin-bottom: 0px;
  }

  @media screen and (max-width: 1024px) {
    .intro__text {
      max-width: 690px;
    }
  }

  @media screen and (max-width: 768px) {
    .intro__text {
      margin-left: 24px;
      margin-right: 24px;
    }
  }

  @media screen and (max-width: 320px) {
    .intro__text {
      max-width: 288px;
      margin-left: 16px;
      margin-top: 40px;
    }
  }
