.cover {
  margin: auto;
  max-width: 1184px;
  height: 740px;
  margin-top: 92px;
  background-image: url(../../images/cover-trains.jpg);
  z-index: 0;
  position: relative;
  object-fit: cover;
 }



