.cover__title {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 560px;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 245px;
  z-index: 2;
  margin: 0;
  }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__title {
  font-size: 32px;
  line-height: 35px;
  margin-top: 33px;
  }
}
