.place {
  display: grid;
  max-width: 984px;
  max-height: 660px; /*
  padding-bottom: 100%; */
  margin: auto;
  margin-top: 80px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 40px 40px;
}

/*
@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }
@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
        }
      }

@media screen and (max-width: 320px) {
  .photo-grid {
          grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
          }
        }
