.place {
  display: grid;
  justify-items: stretch;
  max-width: 984px;
  margin: auto;
  margin-top: 80px;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 40px;
}

@media screen and (max-width: 1024px) {
  .place {/*
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));*/
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  }
}

@media screen and (max-width: 320px) {
  .place {
    margin-top: 64px;
    grid-template-columns: 320px;
    gap: 0;
  }
}
